// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 95%;
		}
	}

	&.-h-logo{
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 51%;
					left: 101.5%;
					width: 6.5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 32%;
					left: 110%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// SOLD OUT
			&.-soldOut{
				top: 36%;
				left: 45%;
				transform: rotate(-5deg) translate(-50%, -50%);
				width: 70%;
				z-index: 99;
				filter: drop-shadow(1px 1px 2px rgb(128, 128, 128));
				img{background: $sold-out;}
				@include min(768){
					top: 41%;
					left: 63%;
					width: 40%;
				}
			}
		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}
	&.-f-slider{// スライダー
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ファーストビュー×スライダー関係
			&.-f-title{
				top: 27%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				filter: drop-shadow(.5px .5px 0px #ffffff6c);
				@include min(768){// tb
					top: 50%;
					left: 80%;
					width: 33%;
				}
				@include min(1400){
					top: 50%;
					left: 70%;
					width: 30%;
				}
			}
			&.-f-des{
				bottom: 1px;
				left: 90%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 53%;
					}
					@include min(1400){
						left: 72%;
					}
				}
			}
			&.-f-bird{
				&_01{// 青
					top: 20%;
					left: 15%;
					width: 5%;
					@include min(768){// tb
						top: 10%;
						left: 2%;
						width: 4%;
					}
					@include min(1400){// pc
						top: 10%;
						left: 15%;
						width: 3%;
					}
				}
				&_02{// うすい
					top: 20%;
					left: 23%;
					width: 3%;
					@include min(768){// tb
						top: 7%;
						left: 7%;
						width: 3%;
					}
					@include min(1400){// pc
						left: 18%;
						width: 2%;
					}
				}
				&_03{// 黄色
					top: 35%;
					left: 77%;
					width: 5%;
					@include min(768){// tb
						top: 23.5%;
						left: 91%;
						width: 2%;
					}
					@include min(1400){// pc
						top: 13.5%;
						left: 78%;
						width: 1.8%;
					}
				}
				&_04{// 緑
					@include min(768){// tb
						top: 57%;
						left: 65%;
						width: 1.5%;
					}
					@include min(1400){// pc
						top: 60%;
						left: 56%;
						width: 1%;
					}
				}
			}
			&.-f-border{
				top: 36%;
				left: 25%;
				width: 50%;
				@include min(768){// tb
					top: 25%;
					left: 67%;
					width: 24%;
				}
				@include min(1400){// pc
					top: 17%;
					left: 60%;
					width: 18%;
				}
			}
		}
	}
	&.-f-view{//ファーストビュー
		position: relative;
		.c-contentsBox{
			position: absolute;
			&.-f-title{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				@include max(768){
					width: auto;
					// タイトル > 中央
					&.-f-title_c{
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							font-size: 14px;
						}
					}
					// タイトル > 右下
					&.-f-title_r{
						top: 82%;
    					left: 83%;
						&::after{
							position: absolute;
							top: 120%;
							left: 70%;
							transform: translate(-50%,-50%);
							font-size: 14px;
						}
					}
					//　タイトル >  コンセプトページ
					&.-concept{&::after{content: "コンセプト";}}
					&.-layout{&::after{content: "レイアウト";}}
					&.-plan{&::after{content: "プラン";}}
					&.-equipment{&::after{content: "設備・仕様";}}
					&.-location{&::after{content: "周辺環境";}}

				}
				@include min(768){// tb
					top: 50%;
					left: 75%;
					width: 38%;
				}
				@include min(1400){
					top: 49%;
					left: 76%;
					width: 40% !important;
				}
			}
			&.-f-logo{
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 75%;
				z-index: 1;
				@include min(768){
					top: 50%;
					width: 40%;
				}
			}
			&.-f-des{
				// top: 20%;
				// left: 46.5%;
				transform: translate(-50%, -50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					top: 20%;
					left: 46.5%;
				}
			}
			&.-f-subTitle{
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 38%;
				@include min(768){
					top: 86%;
					left: 50%;
					width: 18%;

				}
			}
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ※関係
			&.-kome{
				bottom: 1%;
				left: 90%;
				transform: translate(-50%, -50%);
				@include min(768){
					left: 95%;
				}
			}
			
			// コンテンツ > ボタン
			&.-shopBtn01{// 物件詳細
				top: 58.5%;
				left: 72%;
				transform: translate(-50%, -50%);
				width: 25%;
				@include min(768){
					top: 84%;
					left: 77%;
					width: 12%;
					max-width: 110px;
				}
				@include min(1300){
					
				}
				&.-shop02{
					top: 81.1%;
					left: 84%;
					@include min(768){
						top: 73.5%;
						left: 85%;
					}
				}
				&.-shop03{
					top: 85.5%;
					left: 84%;
					@include min(768){
						top: 81.5%;
						left: 83%;
					}
				}
				&.-shop04{
					top: 89.7%;
					left: 67%;
					@include min(768){
						top: 74%;
						left: 84.5%;
					}
				}
				&.-shop05_06{
					top: 87.5%;
					left: 80%;
					@include min(768){
						top: 87.5%;
						left: 86%;
						// left: 83%;
						width: 30%;
						max-width: 120px;
					}
				}
			}
			&.-shopBtn02{// 資料請求・見学予約
				top: 94%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				@include min(768){
					top: 90%;
					width: 30%;
				}
				&.-shop02{
					top: 96%;
					@include min(768){
						top: 87%;
					}
				}
				&.-shop03{
					top: 96.5%;
					@include min(768){
						top: 87%;
					}
				}

				&.-shop05_06{
					top: 96.5%;
					@include min(768){
						top: 95%;
						width: 60%;
					}
					@include min(1300){
						width: 50%;
					}
				}
			}
			// 完売御礼
			&.-soldOut{
				&_01{
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: $main-color--tel;
					box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329);
					@include max(768){
						width: 70%;
					}
				}
			}
			&.-bannerBtn{
				@include min(768){
					top: 80%;
					left: 12%;
					// left: 13.5%;
					transform: translate(-50%, -50%);
					width: 10%;
				}
				@include min(1200){
					// left: 30%;
					left: 12%;
				}
			}
			&.-bannerBtn02{
				top: 25%;
				left: 80%;
				transform: translate(-50%, -50%);
				width: 35%;
				@include min(768){
					top: 80%;
					left: 13.5%;
					width: 15%;
				}
				@include min(1400){
					top: 80%;
					left: 11.5%;
					width: 10%;
				}
			}
			// ↓ Swiper関係の位置
			&.-swiperContent01{
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 75%;
				@include min(768){
					top: 50%;
					left: 67%;
					width: 60%;
				}
			}
			&.-swiperContent02{
				top: 66%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 55%;
				@include min(768){
					top: 60%;
					left: 75%;
					width: 29%;
				}
				@include min(1200){
					top: 52%;
					left: 80%;
					width: 35%;
				}
			}
		}
	}

	&.-b-top_btm{
		border-top: 1px solid #d4d4d5;
		border-bottom: 1px solid #d4d4d5;
		.c-contents-inner{
			border-left: 1px solid #d4d4d5;
			border-right: 1px solid #d4d4d5;
		}
	}
}